.main-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 100%;
}

body{
    color: darkred;
}

.header{
    text-align: center;
}

.data-container{
    display: flex;
    justify-content: space-evenly;
    flex-basis: 1 1 1;
    margin-top: 30px;
}

.col-books, .col-topics, .col-persons{
    border-style: solid;
    border-color: darkred;
    width: 20%;
    text-align: center;
}

ul{
    list-style: none;
    text-align: left
}