{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Gutenberg</title>
</head>
<body>
    <div class="main-container">
        <div class="header">
            <h1>Project: Gutenberg</h1>
            <p>Entity Name Recognition and Topic Modeling applied on the Gutenberg Corpus</p>
        </div>
        <div class="data-container">
            <div class="col-books">
                <h3>Books</h3>
            </div>
            <div class="col-persons">
                <h3>Persons</h3>
            </div>
            <div class="col-topics">
                <h3>Topics</h3>
            </div>
        </div>
    </div>

</body>
</html>